.list_item {
  color: var(--text);

  &:hover {
    background-color: var(--surface1);
  }

  &:global(.active) {
    color: var(--text-h);
    background-color: var(--surface2);

    :global(.icon) {
      color: var(--accent);
    }
  }


}