.list_item {
  color: var(--text);

  &:hover {
    background: var(--surface1);
  }

  &:global(.active) {
    box-shadow: inset 4px 0 0 var(--accent);
    background: var(--surface2);
    color: var(--text-h);
  }
}

.layer_item_drag {
  cursor: ns-resize;
}

.layer_item_name {
  flex: 1;
  overflow: hidden;
}

.add_button {
  height: 2rem;
  border: 2px dashed var(--border);
  color: var(--text-h);
  flex-shrink: 0;

  &:hover {
    background: var(--surface1);
  }
}

.editor {
  display: flex;
  flex-direction: column;
}

.preview {
  svg {
    background-color: var(--bg);

    text {
      fill: var(--text-h);
    }
  }
}