#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

body {
  margin: 0;
  background-color: var(--surface1);
}

h1,
h2 {
  font-family: var(--heading);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.has-tooltip {
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.1s;
  transition-delay: 0s;
}

.has-tooltip:hover .tooltip-right {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.tooltip-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  clip-path: polygon(0 50%, 0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  background: var(--accent1);
  color: var(--on-accent);
  z-index: 100;
  white-space: nowrap;
}

.toggle-sidebar-btn {
  width: 32px;
  height: 32px;
  border: 1px solid var(--border);
  background-color: var(--surface);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-h);
}

.toggle-sidebar-btn:hover {
  background-color: var(--surface1);
}

.main-pane {
  flex: 1;
  border-right: 2px solid var(--border);
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;

  >header {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    align-items: center;
    border-bottom: 2px solid var(--border);

    .project-name {
      font-size: 1.2rem;
      max-width: 10rem;
      white-space: nowrap;
      overflow-x: hidden;
      color: var(--text-h);
    }

    menu {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin: 0;
      padding: 0;

      button {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      button.header-menu span {
        color: var(--text);
      }

      button:hover {
        background-color: var(--surface2);
      }
    }

  }

  .main-section-wrap {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    gap: 1rem;
  }
}

.list-pane {
  width: 12rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--surface);
  border-radius: 1rem;
  padding: 0.5rem;
}

.editor-pane {
  flex: 3;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preview-pane {
  flex: 1;

  svg {
    background-color: white;
  }
}