#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

body {
  margin: 0;
  background-color: var(--surface1);
}

h1,
h2 {
  font-family: var(--heading);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.has-tooltip {
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.1s;
  transition-delay: 0s;
}

.has-tooltip:hover .tooltip-right {
  visibility: visible;
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.tooltip-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  clip-path: polygon(0 50%, 0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%);
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  background: var(--accent1);
  color: var(--on-accent);
  z-index: 100;
  white-space: nowrap;
}

.preview-pane {
  flex: 1;

  svg {
    background-color: white;
  }
}