:root {
  --text: #506657;
  --text-h: #060d08;
  --bg: #fff;
  --border: #e4e7e6;

  --accent: #0cb47c;
  --on-accent: #fff;
  --accent1: #6eb99e;

  --surface: #fff;
  --surface1: #eef7f4;
  --surface2: #d7e9e3;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    
    --accent: #67d3af;
    --on-accent: #fff;
    --accent1: #499b7d;

    --surface: #5f5f5f;
    --surface1: #525252;
    --surface2: #1d1d1d;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
}