:root {
  --text: #405747;
  --text-h: #060d08;
  --bg: #fff;
  --border: #b0bbb7;

  --accent: #16b882;
  --on-accent: #fff;
  --accent1: #6eb99e;

  --surface: #fff;
  --surface1: #edf5f0;
  --surface2: #d7e9e3;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #8ccf97;

    --accent: #16b882;
    --on-accent: #fff;
    --accent1: #437764;

    --surface: #000;
    --surface1: #2e302f;
    --surface2: #1d1d1d;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}